.footer {
    background-color: $color-grey;
    font-family: $font-main;
    color: white;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &_button {
        background-color: white;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        transform: translateY(-19px);
        display: flex;
        justify-content: center;
        &_img {
            width: 50%;
        }
    }
}

.footercontent {
    // display: grid;
    // grid-template-columns: 1fr;
    // grid-template-rows: 1fr 80px; 
    &_listcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        &_list {
            font-size: 16px;
            line-height: 30px;
            text-align: center;
            padding: 10px 0px 10px 0px;
            .link {
                text-decoration: none;
                color: white;
            }
        }
    }
    &_info {
        text-align: center;
        font-size: 14px;
        .copy {
            padding: 20px 0px 15px 0px;
        }
        .heart {
            color: $color-green;
        }
    }   
}

@media screen and (min-width: 768px) {
    .footer {
        // background-color: $color-grey;
        // font-family: $font-main;
        // color: white;
        // padding-bottom: 30px;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        &_button {
            width: 45px;
            height: 45px;
        }
    }
    
    .footercontent {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr; 
        &_listcontainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            &_list {
                font-size: 16px;
                line-height: 30px;
                text-align: center;
                padding: 10px 0px 10px 0px;
                .link {
                    text-decoration: none;
                    color: white;
                }
            }
        }
        &_info {
            text-align: center;
            font-size: 14px;
            .copy {
                padding: 20px 0px 15px 0px;
            }
            .heart {
                color: $color-green;
            }
        }   
    }
}