// .page__header {
//   display: flex;
//   justify-content: space-evenly;
//   margin-bottom: 3rem;
// }

.header-box {
  background-color: $color-green;
  width: 36.4px;
  height: 36.8px;
}

.icon-menu {
  width: 13.5px;
  height: 11.8px;
}