.header {
  background-color: $color-green;
  width: 37px;
  height: 37px;
  &_box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &_icon {
      width: 14px;
      height: 13px;
    }
  }
}